.home{
    .banner{
        background-image: url(../img/banner.jpg?20220212-001);
        background-repeat: no-repeat;
        background-size: contain;
        height: 626px;
        .banner-text{
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%)!important;
            color: white;
            text-align: center;
            img{
                width: 300px;
            }
        }
    }
    .video-section {
        .tab{
            .nav{
                .nav-item{
                    .nav-link{
                        cursor: pointer;
                        img{
                            width: 35px;
                        }
                    }
                }
            }
        }
        .youtube{
            .video{
                > iframe{
                    display: block;
                    margin: auto;
                    max-width: 100%;
                    height: 169px;
                }
                .no-video {
                    display: flex;
                    height: 169px;
                    border: 1px solid #ccc;
                    span{
                        display: block;
                        width: 100%;
                        align-self: center;
                        text-align: center;
                    }
                }
            }
        }
    }
}